<!DOCTYPE html>
<html ng-app="angular1">
    <head>
        <title>TODO supply a title</title>
        <script src="angular.min.js" type="text/javascript">
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="MiControlador">
        <h1>Prueba de Angular: tabla de usuarios</h1>
        <input type="submit" value="Mostrar producto" ng-click="traerProducto();mostrarProducto = true; myStyle={color:'red'}" />
        <input type="submit" value="Ocultar producto" ng-click="mostrarProducto = false" />
        <input type="text" name="Id de producto" value="" ng-model="idproducto"/>
        <input type="submit" value="Mostrar tabla de productos" ng-click="traerTabla();mostrarTabla = true" />
        <input type="submit" value="Ocultar tabla de productos" ng-click="mostrarTabla = false" />
        <input type="text" name="Pagina" value="" ng-model="pagina"/>
        
        <!-- Añadida directiva ng-style para poner css -->
        <table ng-show="mostrarProducto" ng-style="myStyle">
            <tr>
                <th>id</th> 
                <th>Existencias</th>
                <th>Precio</th>
                <th>Nombre</th>
            </tr>
            <tr>
                <!-- Añadida directiva ng-bind para pasar los datos -->
                <td ng-bind="oProducto.id"></td>
                <td ng-bind="oProducto.existencias"></td>
                <td ng-bind="oProducto.precio"></td>
                <td ng-bind="oProducto.nombre"></td>
                
            </tr>
        </table>
        <table  ng-show="mostrarTabla">
            <tr>
                <th>id</th>
                <th>Existencias</th>
                <th>Precio</th>
                <th>Nombre</th>
            </tr>
             <!-- Añadido filtro para ordenar por el dni -->
            <tr ng-repeat="p in arrProductos | orderBy : 'existencias'">
                <td>{{p.id}}</td>
                <td>{{p.existencias}}</td>
                <!-- Añadido filtro de mayúscula -->
                <td>{{p.precio | uppercase}}</td>
                <td>{{p.nombre}}</td>
            </tr>
        </table>
        <div ng-model="error_angular"></div>
        <script src="Controller.js" type="text/javascript"></script>
    </body>
</html>